/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #484142; /* Texto gris oscuro */
  }
  
  /* Contenido principal de la página "Así Operamos" */
  .operamos-contenido {
    max-width: 900px;
    margin: 50px auto;
    text-align: left; /* Alineación del texto a la izquierda */
    color: #484142; /* Gris oscuro */
    padding: 20px;
  }
  
  .operamos-contenido h1 {
    font-size: 2.5rem;
    color: #2d2a71; /* Azul oscuro */
    margin-bottom: 20px;
    text-align: center;
  }
  
  .operamos-contenido p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 15px;
    padding-left: 20px; /* Identación para las viñetas */
    position: relative;
  }
.section-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
  
  /* Pie de página */
  footer {
    background-color: #a9a8a9; /* Gris claro */
    color: #2d2a71; /* Texto en azul oscuro */
    text-align: center;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
    font-size: 1rem;
  }
  
  .btn-volver {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2d2a71; /* Azul oscuro */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-volver:hover {
    background-color: #484142; /* Cambio de color al hacer hover */
  }
