/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #484142; /* Texto gris oscuro */
  }
  
  /* Contenido principal de la página "Debida Diligencia" */
  .diligencia-contenido {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    text-align: justify;
    color: #484142;
    border: 1px solid hsl(243, 46%, 30%) ;
    background-color:hsl(243, 46%, 30%, .5)  ;
    align-items: center;
    justify-content: center;
  }
  
  .diligencia-contenido h1 {
    font-size: 2.5rem;
    color: #2d2a71; /* Azul oscuro */
    text-align: center;
    margin-bottom: 20px;
  }
  
  .diligencia-contenido h2 {
    font-size: 1.8rem;
    color: #2d2a71; /* Azul oscuro */
    margin-top: 20px;
    text-align: center;
  }
  
  .diligencia-contenido ul {
    margin: 10px 0;
    padding-left: 20px;
  }
  
  .diligencia-contenido ul li {
    margin-bottom: 10px;
    line-height: 1.6;
  }
  
  /* Botón "Volver al Inicio" */
  .btn-volver {
    display: inline-block;
    background-color: #2d2a71; /* Azul oscuro */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
  }
  
  .btn-volver:hover {
    background-color: #484142; /* Gris oscuro */
  }
  .section-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .debida-img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Pie de página */
  .footer {
    background-color: #484142;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  