footer {
    background-color: #a9a8a9; /* Gris claro */
    color: #2d2a71; /* Texto en azul oscuro */
    text-align: center;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
    font-size: 1rem;
  }
  
  .redes {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los iconos */
    /* margin: 20px 0; */
  }
  
  .redes i {
    font-size: 40px; /* Tamaño de los iconos */
    color: #2d2a71; /* Color de los iconos */
    transition: transform 0.3s ease;
  }
  
  .redes i:hover {
    transform: scale(1.2); /* Aumenta el tamaño cuando se pasa el mouse por encima */
    color: #484142; /* Cambia el color cuando se pasa el mouse por encima */
  }